#server_data {
}

#incoming_data {
  display: inline;
}

#outgoing_data {
  float: right;
}

#other_data {
}

#domains {
  padding: 1em;
}

.domain {
  -moz-border-radius: 3px;
  border: 1px solid grey;
  background: #FFEFAF;
  padding: 1ex;
  margin-right: 0.2ex;
  margin-bottom: 1ex;
  display: inline-block;
}

.configstatus  {
  padding: 1.5em;
  margin: 1.5em;
}

.approved {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

.deleted {
  border: 1px solid black;
}

.requested {
  border: 1px solid orange;
}

.float {
  float: left;
  clear: none;
  margin-right: 4px;
}

.errornote {
  margin-top: 10px;
}

#commenttext_div {
  padding: 8px;
}

#commenttext {
  font-size: 12px;
}

