#server_data {
}

#incoming_data {
  display: inline;
}

#outgoing_data {
  float: right;
}

#other_data {
}

#domains {
  padding: 1em;
}

.domain {
  -moz-border-radius: 3px;
  border: 1px solid grey;
  background: #FFEFAF;
  padding: 1ex;
  margin-right: 0.2ex;
  margin-bottom: 1ex;
  display: inline-block;
}

.configstatus  {
  padding: 1.5em;
  margin: 1.5em;
}

.approved {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

.deleted {
  border: 1px solid black;
}

.requested {
  border: 1px solid orange;
}

.float {
  float: left;
  clear: none;
  margin-right: 4px;
}

.errornote {
  margin-top: 10px;
}

#commenttext_div {
  padding: 8px;
}

#commenttext {
  font-size: 12px;
}

#sanity_checks{
  margin-top: 15px;
}

.error {
  background:url(../img/error-icon.png);
  background-size:15px 15px;
  background-repeat: no-repeat;
  padding: 0px 0 3px 23px;
  font-size: 13px;
  line-height: 20px;
}

.warning {
  background:url(../img/warning-icon.png);
  background-size:15px 15px;
  background-repeat: no-repeat;
  padding: 2px 0 3px 23px;
  font-size: 13px;
  line-height: 20px;
}

#sanity_results {
  margin-top: 10px;
}

.tab_desc {
  margin-left: 10px;
}
