#server_data {
}

#incoming_data {
  display: inline;
}

#outgoing_data {
  float: right;
}

#other_data {
}

#domains {
  padding: 1em;
}

.domain {
  -moz-border-radius: 3px;
  border: 1px solid grey;
  background: #FFEFAF;
  padding: 1ex;
  margin-right: 0.2ex;
  margin-bottom: 1ex;
  display: inline-block;
}

.comment {
    margin-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-top: 1px solid lightgrey;
}

.comment:first-child {
    border-top: 1px solid transparent;
}

.comment_author {
    font-weight: bold;
}

.configstatus  {
  padding: 1.5em;
  margin: 1.5em;
}

.approved {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

.requested {
  border: 1px solid orange;
}

.float {
  float: left;
  clear: none;
  margin-right: 4px;
}

#confirm_delete_text {
  font-weight: bold;
  margin-bottom: 10px;
}
