#domain_list {
  position: relative;
  max-width: 50em;
}

#domain_list table {
  max-width: 40em;
}
input[readonly=readonly] {
  color: grey;
  background-color:#F0F0F0;
}

#id_title {
  width: 30%;
  padding: 5px 5px;
  font-size: 14px;
}

#id_description {
  width: 30%;
  padding: 5px 5px;
  font-size: 14px;
}

#div_report_link {
 padding: 10px;
}

table.tab_descs td, table.tab_descs th,
table.tab_insts td, table.tab_insts th,
td.noborder, th.noborder {
  border-bottom: 0px;
}
