#domain_list {
  position: relative;
  max-width: 50em;
}

#domain_list table {
  max-width: 40em;
}
#add_domain {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
input[readonly=readonly] {
  color: grey;
  background-color:#F0F0F0;
}
