.box {
  border: 1px solid #CACACA;
  border-radius: 10px;
  width: 60%;
  overflow: auto;
  word-wrap: break-word;
}

#author {
  color: #666;
  font-style: italic;
  padding: 0 10px;
}

#title {
  margin: -10px 0 0;
  padding: 0 10px;
}

#status {
  background-color: rgb(245, 245, 245);
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-radius: 2px;
  padding: 5px 10px 0px 10px;
  color: #444;
  font-size: 11.5px;
}

#description {
  padding: 10px 40px 0 40px;
}

#buttons {
  padding: 5px 10px;
  border-top: 1px solid #CACACA;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
}

#domains {
  line-height: 20px;
  padding: 0px 20px; 
}

.domain_removed {
  text-decoration: line-through;
}

.domain_added {
  font-weight: bold;
}

#config {
  padding: 0 10px;
}

.config_changed {
  font-weight: bold;
} 

#edit {
  float: right;
}

.comment {
  width: 50%;
  overflow: auto;
  word-wrap: break-word;
  padding-top: 10px;
}

.comment_author {
  font-weight: bold;
  border: 0px;
  font-size: 12px;
}

.comment_date {
  border: 0px;
  font-size: 11px;
}

.comment_body {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.comment_list {
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left:10px;
}

#show {
  padding-top: 2px;
}

#add_a_comment {
  padding-top: 10px;
  padding-bottom: 10px;
}

.remove_comment {
  font-size: 10px;
}
