{% extends "config/base.html" %}
{% load url from future %}
{% load custom_filters %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/details.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comments.css"/>
{% endblock %}

{% block title %}Mozilla ISP Database{% endblock %}
{% block bodystart %}

<script type="text/javascript">
$(document).ready(function() {
  $("#showcomments").click(function() {
    $(this).hide();
    $(this).parent().children('.comment_list').show('fast');
  })
  $("#add").click(function() {
    $(this).hide();
    $(this).parent().children('.comment_form').show('fast');
  })
  $(".invalid-options").click(function() {
    if ($("#other").is(':checked')) {
      $("#commenttext").show("fast");
    }else{
      $("#commenttext").hide();
    }
  })
  $("#commenttext").hide();

  $("#request-deny").click(function() {
    if ($("#commentChoices").is(":visible"))
      return true;
    $("#commentChoices").show("fast");
    return false;
  })

  {% if perms.config.can_approve %}
  // We want to make sure reviewers can see the comments
    $(".comment_list").show();
    $("#showcomments").hide();
  {% endif %}
});
</script>
{% endblock %}

{% block heading %}Configuration: {{config.display_short_name}} {% endblock %}

{% block content %}

<div>
  <h1>{{config.display_name}}
    {% ifnotequal config.display_name config.display_short_name %} ({{config.display_short_name}} for short) {% endifnotequal %}
  </h1>
</div>
{% if perms.is_superuser or config.status == 'requested' and config.owner == user %}
  <div id="edit">[<a href="{% url 'ispdb_edit' config.id %}">Edit</a>]</div>
{% endif %}

{% if error %}
  <div id="errornote" class="errornote">
    <p>{{ error }}</p>
  </div>
{% endif %}

<div class="configstatus {{ config.status }}">
  {% if config.status == 'approved' %}
    <div><p>This configuration is APPROVED.</p></div>
      {% if perms.config.can_approve %}
        <div><p>Is there a reason it shouldn't be?</p></div>
        <form action="{% url 'ispdb_approve' id=config.id %}" method="POST">{% csrf_token %}
        <div id="commentChoices">
          <input class="invalid-options" type="radio" name="comment" value="Not available from our domain" checked="checked"/>
            Not available from our domain<br />
          <input class="invalid-options" type="radio" name="comment" value="Incorrect data"/>
            Incorrect data<br />
          <input class="invalid-options" type="radio" name="comment" id="other" value="Other - invalid"/>
            Other
        </div>
        <div id="commenttext_div">
          <textarea id="commenttext" rows="3" cols="60" name="commenttext" placeholder="Always enter a comment here"></textarea>
        </div>
        <div>
          <input type="submit" value="mark invalid" name="denied"></input>
        </div>
        </form>
      {% endif %}
  {% else %}
    {% if config.status == 'invalid' %}
    <div>
      This configuration has been determined INVALID.  We've looked at the
      data, and either it's not correct, or it can't be verified from outside
      the ISP's firewall, or the ISP has asked not to publish it.
    </div>
      {% if perms.config.can_approve %}
        <div>Is there a reason it shouldn't be?</div>
      	<form action="{% url 'ispdb_approve' id=config.id %}" method="POST">{% csrf_token %}
          <div class="float">
            <input type="submit" value="mark valid" name="approved"></input>
          </div>
        </form>
        <form action="{% url 'ispdb_delete' id=config.id %}" method="POST">{% csrf_token %}
          <div>
            <input id="delete" type="submit" value="delete" name="delete"></input>
          </div>
        </form>
      {% endif %}
    {% else %}
      {% if config.status == 'deleted' %}
        <div>
          This configuration has been DELETED.
        </div>
        {% if config|is_undo_available %}
	  {% if perms.config.can_approve or config.owner == user and config.last_status == 'requested' %}
            <form action="{% url 'ispdb_delete' id=config.id %}" method="POST">{% csrf_token %}
              <div>
                <input id="delete" type="submit" value="undo" name="delete"></input>
              </div>
            </form>
          {% endif %}
        {% endif %}
      {% else %}
        {% if perms.config.can_approve %}
          <p>Can you confirm that this is a good configuration according to our <a href="{% url 'ispdb_policy' %}">policies</a>?</p>
          <form action="{% url 'ispdb_approve' id=config.id %}" method="POST">{% csrf_token %}
            <div id="commentChoices" class="hidden">
              <input class="invalid-options" type="radio" name="comment" value="Not available from our domain" checked="checked"/>
                Not available from our domain<br />
              <input class="invalid-options" type="radio" name="comment" value="Incorrect data"/>
                Incorrect data<br />
              <input class="invalid-options" type="radio" name="comment" id="other" value="Other - invalid"/>
                Other
            </div>
            <div id="commenttext_div">
              <textarea id="commenttext" rows="3" cols="60" name="commenttext" value="Always enter a comment here"></textarea>
            </div>
            <div class="float">
              <input type="submit" value="yes, checks out ok" name="approved"></input>
              <input type="submit" value="no, there's a problem" name="denied" id="request-deny"></input>
            </div>
          </form>
        {% else %}
          This configuration is PENDING REVIEW.  Our team of crack volunteers will review
          it, and assuming the data checks out, we'll publish it.
        {% endif %}
        {% if user == config.owner or perms.config.can_approve %}
          <form action="{% url 'ispdb_delete' id=config.id %}" method="POST">{% csrf_token %}
            <div>
              <input id="delete" type="submit" value="delete" name="delete"></input>
            </div>
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>

<h4>Domains Served</h4>
<div id="domains">
  {% if config.domains.all %}
    {% for domain in config.domains.all %}
      <div class="domain">{{domain}}</div>
    {% endfor %}
  {% else %}
    {% for domain in config.domainrequests.all %}
      <div class="domain">{{domain}}</div>
    {% endfor %}
  {% endif %}
</div>

<div id="server_data">
  <table>
    <tr>
      <td>
  <div id="incoming_data">
    <h4>Incoming Server</h4>
    <table>
      {% for field in incoming %}
      <tr>
        <td>{{ field.verbose_name|capfirst }}:</td><td>{{field|data_verbose}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
      </td>
      <td>
  
  <div id="outoing_data">
    <h4>Outgoing Server</h4>
    <table>
      {% for field in outgoing %}
      <tr>
        <td>{{ field.verbose_name|capfirst }}:</td>
        <td>{{field|data_verbose}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
    </td>
    </tr>
  </table>

</div>

<div id="other_data">
  <h4>Other Fields</h4>
  <table>
    {% for field in other_fields %}
    <tr>
      <td>{{ field.verbose_name|capfirst }}:</td><td>{{field.value}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
</td>
<td>

<h4>View XML data</h4>

<p>See <a href="{% url 'ispdb_export_xml' version=1.1 id=config.id %}">XML version</a> (used by Thunderbird).</p>

{% if config.status == "approved" %}
  <h3>Reported Issues</h3>

  {% for issue in issues %}
    <ul>
      <li><a href="{% url 'ispdb_show_issue' issue.id %}">{{ issue.title }}</a></li>
    </ul>
  {% empty %}
    <p>No reported issues.</p>
  {% endfor %}

  <h3>Accurate?</h3>

  <p>If you know the data above is not accurate, do let us know: 
  <a href="{% url 'ispdb_report' config.id %}">these parameters are out of date!</a>
  </p>
{% endif %}

<h3>Comments</h3>

{% load comments %}

{% get_comment_list for config as comment_list %}
{% if comment_list %}
<div id="previous_comments">
  <div id="showcomments"><a class="link">Show {{ comment_list|length }} existing comment{{comment_list|length|pluralize}}</a></div>
  <div class="comment_list hidden">
  {% for comment in comment_list %}
    <div class="comment">
      <div class="header">
        {% if comment.user %}
          <span class="comment_author">{{ comment.user.email }}</span>
        {% else %}
          <span class="comment_author">{{ comment.user_name }}</span>
        {% endif %}
        <span class="comment_date"> at {{ comment.submit_date }}</span>
        {% if perms.comments.can_moderate %}
          <a href="{% url 'ispdb_comment_delete' comment.id %}"><span class="remove_comment">Remove</span></a>
        {% endif %}
      </div>
      {% if comment.user_name == 'ISPDB System' and comment.user == None %}
        <div class="comment_body">{{comment.comment|safe|linebreaks}}</div>
      {% else %}
        <div class="comment_body">{{comment.comment|linebreaks}}</div>
      {% endif %}
      <hr />
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

<div id="add_a_comment">
  <div id="add"><a class="link">Add a comment</a></div>
  <div class="comment_form hidden">
    {% if request.user.is_authenticated %}
      {% get_comment_form for config as form %}
      <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% endif %}
        {% endfor %}
        <input type="hidden" name="next" value="{{ request.path }}" />
        <div><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
        <div><input type="submit" name="post" class="submit-post" value="Post"></div>
      </form>
    {% else %}
      <b>You must sign in to post comments.</b>
    {% endif %}
  </div>
</div>

{% endblock %}
