{% extends "config/base.html" %}
{% load url from future %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/enter_config.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
{% endblock %}


{% block title %}Add a new ISP configuration{% endblock %}
{% block heading %}Mozilla Messaging ISP Configuration Management{% endblock %}

{% block bodystart %}
<script type="text/javascript">
$(document).ready(function() {
    var i = $("#id_form-TOTAL_FORMS").val();
    var template = jQuery.format($("#template").val());
    for (var aux=0; aux<i; aux++){
    	var text = "Remove";
        if ($('#id_form-'+aux+'-delete').val() == "True"){
            $('#id_form-'+aux+'-name').attr("readonly", "readonly");
            text = "Undo";
	}
        $('#id_form-'+aux+'-name').parent('td')
		.after('<td><a class="link delete_domain" value="'+aux+'">'+text+'</a></td>!');
    }
    $('.delete_domain').hide();

    function addRow() {
      $(template(i++)).appendTo("#domain_list table");
      $("#id_form-TOTAL_FORMS").val(i);
    }
    function showForm() {
      $("#question").hide();
      $("#submit").show();
      $("#voteforit").hide();
      $("#dataful").val('adding');
      $("#configform").show("fast");
      $("#add_domain").show();
      $(".delete_domain").show();
    }

    $("#add_domain").click(function() {
      addRow();
    });
    
    $("#domain_list").on("click", "a.delete_domain", function(){
	var value = $(this).attr('value');
	var input = $('#id_form-'+value+'-name');
	var check = $('#id_form-'+value+'-delete');
	if (input.attr("readonly") == "readonly"){
	    check.val("False");
            input.removeAttr("readonly");
            $(this).text("Remove");
        }else{
	    check.val("True");
            input.attr("readonly", "readonly");
	    $(this).text("Undo");
        }
    });

    {% if config_form.errors or formset.errors or formset.non_form_errors or action == 'edit' %}
      $("#submit").show();
      $("#question").hide();
      $("#encouragement").hide();
      $("#problem").show();
      {% if action == 'ask' %}
        $("#dataful").val('asking');
        $("#voteforit").show();
      {% else %}
        $("#add_domain").show();
        $(".delete_domain").show();
        $("#configform").show();
      {% endif %}
    {% endif %}
    $("#yes").click(function(event) {
      // the yes button is in a form, and we want to stop the
      // click from being processed by the form object
      event.preventDefault();
      showForm();
    });

    $("#no").click(function(event) {
      // the no button is in a form, and we want to stop the
      // click from being processed by the form object
      event.preventDefault();
      $("#question").hide();
      $("#submit").show();
      $("#dataful").val('asking');
      console.log($("#dataful"));
      $("#configform").hide();
      $("#voteforit").show("fast");
    });

    //clicked IMAP
    $("#id_incoming_type_0").click(function(event) {
      AutoFillIncoming();
    });

    //clicked POP3
    $("#id_incoming_type_1").click(function(event) {
      AutoFillIncoming();
    });

    //changed incoming socket type
    $("#id_incoming_socket_type").click(function(event) {
      AutoFillIncoming();
    });

    //changed outgoing socket type
    $("#id_outgoing_socket_type").click(function(event) {
      AutoFillOutgoing();
    });
  }
);

function AutoFillIncoming() {
  //var port = $("#id_incoming_port");  - doesn't seem to work. Figure out why?
  var port = document.getElementById("id_incoming_port");
  var incomingType = "";
  var socketType = "";
  if($("#id_incoming_type_0").attr("checked"))
    incomingType = "imap";
  else if($("#id_incoming_type_1").attr("checked"))
    incomingType = "pop3";
  else
    incomingType = "none";
  socketType = $("#id_incoming_socket_type").val();

  if (incomingType == 'imap')
    port.value = (socketType == "SSL") ? 993 : 143;
  else if (incomingType == 'pop3')
    port.value = (socketType == "SSL") ? 995 : 110;
}

function AutoFillOutgoing() {
  var socketType = $("#id_outgoing_socket_type").val();
  var port = document.getElementById("id_outgoing_port");
  port.value = (socketType == "SSL") ? 465 : 587;
}

</script>
{% endblock %}

{% block content %}
<textarea style="display:none" id="template">
  <tr>
    <th>
      <label for="id_form-{0}-name">Email domain:</label>
    </th>
    <td><input id="id_form-{0}-name" type="text" name="form-{0}-name" maxlength="100" />
    <input type="hidden" name="form-{0}-delete" value="False" id="id_form-{0}-delete" />
    </td>
    <td><a class="link delete_domain" value="{0}">Remove</a>
    </td>
  </tr>
</textarea>

<h1>Submit a new configuration</h1>
<div>Thanks for submitting a configuration for us to review.  By doing so, you're
going to make it easier for all users of the ISP to get their Thunderbird
configured correctly and quickly.</div>

<form action="{{ callback }}" method="POST">{% csrf_token %}

<input id="dataful" name="asking_or_adding" type="hidden"></input>

<div id="domain_list">
  <table>
    {{ formset.non_form_errors }}
    {{ formset }}
  </table>
  <div id="add_domain" class="hidden"><a class="link">add another domain</a></div>
</div>

<div id="question">
<p>Do you know the configuration settings for the above domain?<p>

<p><button id="yes">I think so</button> <button id="no">I wish!</button></p>
</div>

<div id="configform" class="hidden">
  <h3 id="encouragement">Great! Please fill in this form:</h3>
  <h3 class="hidden" id="problem">There are missing or incorrect values in the form, please fix them:</h3>
    <table>
      {{ config_form }}
    </table>
</div>

<div id="voteforit" class="hidden">
  <h3>We'll still take your vote!</h3>
  <p>If you submit the request, someone else may be able to find the
  configuration settings.</p>
</div>

<input id="submit" type="submit" value="Submit" class="hidden"/>
</form>

{% endblock %}

