{% extends "config/base.html" %}
{% load url from future %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/enter_config.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
{% endblock %}


{% block title %}Add a new ISP configuration{% endblock %}
{% block heading %}Mozilla Messaging ISP Configuration Management{% endblock %}

{% block bodystart %}
<script type="text/javascript">
$(document).ready(function() {
    // add functions
    function addRow(prefix, template_selector, appendto_selector) {
      var template = jQuery.format($(template_selector).val());
      var i = $("#id_"+prefix+"-TOTAL_FORMS").val();
      if (i === undefined){
        i = 0;
      }
      $(template(i++, prefix)).appendTo(appendto_selector);
      $("#id_"+prefix+"-TOTAL_FORMS").val(i);
    }
    $("#add_docurl").click(function() {
      var i = $("#id_{{config_form.docurl_formset.prefix}}-TOTAL_FORMS").val();
      addRow('{{config_form.docurl_formset.prefix}}', '#docurl_template', '#configform table:first');
      var desc_prefix = 'desc_'+i;
      addRow(desc_prefix, '#desc_full_template', '#configform table:first');
    });
    $("#add_domain").click(function() {
      addRow('{{config_form.domain_formset.prefix}}', '#domain_template', '#domain_list table');
    });
    $("#configform").on("click", "a.add_desc", function() {
      var prefix = $(this).attr('value');
      addRow(prefix, '#desc_template', '#'+prefix+' table');
    });
     
    // delete functions
    $("#domain_list").on("click", "a.delete", function(){
      var prefix = $(this).attr('value');
      var check = $('#id_'+prefix+'-DELETE');
      if (check.val() == "True"){
        check.val("False");
        $('#id_'+prefix+'-name').removeAttr("readonly");
        $(this).text("Remove");
      }else{
        check.val("True");
        $('#id_'+prefix+'-name').attr("readonly", "readonly");
        $(this).text("Undo");
      }
    });
    $("#configform").on("click", "a.delete.desc", function(){
      var prefix = $(this).attr('value');
      var check = $('#id_'+prefix+'-DELETE');
      if (check.val() == "True"){
        check.val("False");
        $('#id_'+prefix+'-description').removeAttr("readonly");
        $('#id_'+prefix+'-language').removeAttr("disabled");
        $(this).text("Remove");
      }else{
        check.val("True");
        $('#id_'+prefix+'-description').attr("readonly", "readonly");
        $('#id_'+prefix+'-language').attr("disabled", "disabled");
        $(this).text("Undo");
      }
    });
    $("#configform").on("click", "a.delete.docurl", function(){
      var prefix = $(this).attr('value');
      var check = $('#id_'+prefix+'-DELETE');
      if (check.val() == "True"){
        check.val("False");
        $('#id_'+prefix+'-url').removeAttr("readonly");
        $(this).closest('tr').next('tr').show();
        $(this).closest('tr').next('tr').next('tr').show();
        $(this).text("Remove");
      }else{
        check.val("True");
        $('#id_'+prefix+'-url').attr("readonly", "readonly");
        $(this).closest('tr').next('tr').hide();
        $(this).closest('tr').next('tr').next('tr').hide();
        $(this).text("Undo");
      }
    });
 
    function showForm() {
      $("#question").hide();
      $("#submit").show();
      $("#voteforit").hide();
      $("#dataful").val('adding');
      $("#configform").show("fast");
      $("#add_domain").show();
      $(".delete_domain").show();
    }
   
    $("#report_link").click(function(event) {
      if($("#id_show_form").val() == "False"){
        $("#domain_list").show();
        $("#add_domain").show();
        $(".delete_domain").show();
        showForm();
        $("#id_show_form").val("True");
        $("#report_link").text("Don't send configuration");
      }else{
        $("#domain_list").hide();
        $("#add_domain").hide();
        $(".delete_domain").hide();
        $("#configform").hide();
        $("#id_show_form").val("False");
        $("#report_link").text("Send an updated configuration");
      }
    });

    $("#id_incoming_username_form").focusout(function(event){
      $("#id_outgoing_username_form").val($(this).val());
    });

    {% if action == 'report' %}  
      $("#question").hide();
      $("#domain_list").hide();
      $("#submit").show();
    {% endif %}

    {% if has_errors or action == 'edit' %}
      $("#submit").show();
      $("#question").hide();
      $("#encouragement").hide();
      $("#problem").show();
      {% if action == 'ask' %}
        $("#dataful").val('asking');
        $("#voteforit").show();
      {% else %}{% if action == 'report' %}
      	if ($("#id_show_form").val() == "True"){
          $("#domain_list").show();
          showForm();
          $("#report_link").text("Don't send configuration");
        }
      {% else %}   
        $("#add_domain").show();
        $(".delete_domain").show();
        $("#configform").show();
      {% endif %}{% endif %}
    {% endif %}

    $("#yes").click(function(event) {
      // the yes button is in a form, and we want to stop the
      // click from being processed by the form object
      event.preventDefault();
      showForm();
    });

    $("#no").click(function(event) {
      // the no button is in a form, and we want to stop the
      // click from being processed by the form object
      event.preventDefault();
      $("#question").hide();
      $("#submit").show();
      $("#dataful").val('asking');
      console.log($("#dataful"));
      $("#configform").hide();
      $("#voteforit").show("fast");
    });

    //clicked IMAP
    $("#id_incoming_type_0").click(function(event) {
      AutoFillIncoming();
    });

    //clicked POP3
    $("#id_incoming_type_1").click(function(event) {
      AutoFillIncoming();
    });

    //changed incoming socket type
    $("#id_incoming_socket_type").click(function(event) {
      AutoFillIncoming();
    });

    //changed outgoing socket type
    $("#id_outgoing_socket_type").click(function(event) {
      AutoFillOutgoing();
    });
  }
);

function AutoFillIncoming() {
  //var port = $("#id_incoming_port");  - doesn't seem to work. Figure out why?
  var port = document.getElementById("id_incoming_port");
  var incomingType = "";
  var socketType = "";
  if($("#id_incoming_type_0").attr("checked"))
    incomingType = "imap";
  else if($("#id_incoming_type_1").attr("checked"))
    incomingType = "pop3";
  else
    incomingType = "none";
  socketType = $("#id_incoming_socket_type").val();

  if (incomingType == 'imap')
    port.value = (socketType == "SSL") ? 993 : 143;
  else if (incomingType == 'pop3')
    port.value = (socketType == "SSL") ? 995 : 110;
}

function AutoFillOutgoing() {
  var socketType = $("#id_outgoing_socket_type").val();
  var port = document.getElementById("id_outgoing_port");
  port.value = (socketType == "SSL") ? 465 : 587;
}

</script>
{% endblock %}

{% block content %}
<textarea style="display:none" id="domain_template">
  <tr>
    <th>
        <label for="id_{1}-{0}-name">Email domain:</label>
    </th>
    <td><input id="id_{1}-{0}-name" type="text" name="{1}-{0}-name" maxlength="100" />
      <input type="hidden" name="{1}-{0}-DELETE" value="False" id="id_{1}-{0}-DELETE" />
    </td>
    <td><a class="link delete" value="{1}-{0}">Remove</a>
    </td>
  </tr>
</textarea>
<textarea style="display:none" id="docurl_template">
  <tr>
    <th class="noborder"><label for="id_{1}-{0}-url">URL of the page describing these settings:</label></th>
    <td class="noborder">
      <input id="id_{1}-{0}-url" type="text" name="{1}-{0}-url" maxlength="200" />
      <input type="hidden" name="{1}-{0}-DELETE" value="False" id="id_{1}-{0}-DELETE" />
      <a class="link delete docurl" value="{1}-{0}">Remove</a>
    </td>
  </tr>
</textarea>
<textarea style="display:none" id="desc_template">
  <tr>
    <th><label for="id_{1}-{0}-description">Description of the settings page</label>:</th>
    <td><select name="{1}-{0}-language" id="id_{1}-{0}-language">
      <option value="" selected="selected">---------</option>
      <option value="en">English</option>
      <option value="fr">Français</option>
      <option value="de">Deutsch</option>
      <option value="it">Italiano</option>
      <option value="zh">中國的</option>
      <option value="ar">العربية</option>
      <option value="jp">日本の</option>
      <option value="kr">한국의</option>
      <option value="pt">Português</option>
      <option value="ru">русский</option>
      <option value="es">Español</option>
    </select></td>
    <td>
      <input id="id_{1}-{0}-description" type="text" name="{1}-{0}-description" maxlength="100" />
      <input type="hidden" name="{1}-{0}-DELETE" value="False" id="id_{1}-{0}-DELETE" />
      <a class="link delete desc" value="{1}-{0}">Remove</a>
    </td>
  </tr>
</textarea>
<textarea style="display:none" id="desc_full_template">
  <tr><td class="noborder"><td class="noborder"><div id="{1}"><table class="tab_descs">
    <input type="hidden" name="{1}-TOTAL_FORMS" value="1" id="id_{1}-TOTAL_FORMS" /><input type="hidden" name="{1}-INITIAL_FORMS" value="0" id="{1}-INITIAL_FORMS" /><input type="hidden" name="{1}-MAX_NUM_FORMS" id="id_{1}-MAX_NUM_FORMS" />
    <tr>
      <th><label for="id_{1}-{0}-description">Description of the settings page</label>:</th>
      <td><select name="{1}-{0}-language" id="id_{1}-{0}-language">
        <option value="" selected="selected">---------</option>
        <option value="en">English</option>
        <option value="fr">Français</option>
        <option value="de">Deutsch</option>
        <option value="it">Italiano</option>
        <option value="zh">中國的</option>
        <option value="ar">العربية</option>
        <option value="jp">日本の</option>
        <option value="kr">한국의</option>
        <option value="pt">Português</option>
        <option value="ru">русский</option>
        <option value="es">Español</option>
      </select></td>
      <td>
        <input id="id_{1}-{0}-description" type="text" name="{1}-{0}-description" maxlength="100" />
        <input type="hidden" name="{1}-{0}-DELETE" value="False" id="id_{1}-{0}-DELETE" />
      </td>
    </tr>
  </table></div></td></td></tr>
  <tr><td><td><a class="link add_desc" value="{1}">add another description</a></td></td></tr>
</textarea>

<form action="{{ callback }}" method="POST">{% csrf_token %}

{% if action == 'add' %}
  <h1>Submit a new configuration</h1>
  <div>Thanks for submitting a configuration for us to review.  By doing so, you're
  going to make it easier for all users of the ISP to get their Thunderbird
  configured correctly and quickly.</div>
{% else %}{% if action == 'edit' %}
  <h1>Edit configuration</h1>
{% else %}{% if action == 'report' %}
  <h1>Report a problem</h1>
  {{ issue_form.non_field_errors }}
  <div class="fieldWrapper">
    {{ issue_form.title.errors }}
    {{ issue_form.title }}
  </div>
  <div class="fieldWrapper">
    {{ issue_form.description.errors }}
    {{ issue_form.description }}
    {{ issue_form.show_form }}
  </div>
  <div id="div_report_link"><a id="report_link" class="link">Send an updated configuration</a></div>
{% endif %}{% endif %}{% endif %}

<input id="dataful" name="asking_or_adding" type="hidden"></input>

<div id="domain_list">
  <table>
    {{ config_form.domain_formset.non_form_errors }}
    {{ config_form.domain_formset.management_form }}
    {% for form in  config_form.domain_formset %}
      {{ form.non_field_errors }}
      {{ form.id }}
      <tr>{{ form.name.errors }}</tr>
      <tr>
        <th>{{ form.name.label_tag }}:</th>
        <td>
          {{ form.name }}
          {{ form.DELETE }}
        </td>
        {% if forloop.counter0 > 0 %}
          {% if form.DELETE.value == "True" %}
            <td><a class="link delete" value="{{form.prefix}}">Undo</a></td>
          {% else %}
            <td><a class="link delete" value="{{form.prefix}}">Remove</a></td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  <div id="add_domain" class="hidden"><a class="link">add another domain</a></div>
</div>

<div id="question">
<p>Do you know the configuration settings for the above domain?</p>

<p><button id="yes">I think so</button> <button id="no">I wish!</button></p>
</div>

<div id="configform" class="hidden">
  <h3 id="encouragement">Great! Please fill in this form:</h3>
  <h3 class="hidden" id="problem">There are missing or incorrect values in the form, please fix them:</h3>
  <table>
    {{ config_form }}
    {{ config_form.docurl_formset.management_form }}
    <tr><td>{{ config_form.docurl_formset.non_form_errors }}</td></tr>
    {% for form in config_form.docurl_formset %}
      <tr><td class="noborder">{{ form.non_field_errors }}</td></tr>
      {{ form.id }}
      <tr>
        <th class="noborder">{{ form.url.label_tag }}:</th>
        <td class="noborder">
          {{ form.url.errors }}
          {{ form.url }}
          {{ form.DELETE }}
          {% if forloop.counter0 > 0 %}
            {% if form.DELETE.value == "True" %}
              <a class="link delete docurl" value="{{form.prefix}}">Undo</a>
            {% else %}
              <a class="link delete docurl" value="{{form.prefix}}">Remove</a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      <tr><td class="noborder"><td class="noborder"><div id="{{form.desc_formset.prefix}}"><table class="tab_descs">
        {{ form.desc_formset.management_form }}
        <tr><td>{{ form.desc_formset.non_form_errors }}</td></tr>
        {% for error in form.desc_formset.non_field_errors %}
          <tr><td>{{ error }}</td></tr>
        {% endfor %}
        {% for desc_form in  form.desc_formset %}
          {{ desc_form.id }}
          <tr>
            <th>{{ desc_form.description.label_tag }}:</th>
            <td>{{ desc_form.language.errors }}{{ desc_form.language }}</td>
            <td>
              {{ desc_form.description.errors }}{{ desc_form.description }}
              {{ desc_form.DELETE }}
              {% if forloop.counter0 > 0 %}
                {% if desc_form.DELETE.value == "True" %}
                  <a class="link delete desc" value="{{desc_form.prefix}}">Undo</a>
                {% else %}
                  <a class="link delete desc" value="{{desc_form.prefix}}">Remove</a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table></div></td></td></tr>
      <tr><td><td><a class="link add_desc" value="{{form.desc_formset.prefix}}">add another description</a></td></td></tr>
    {% endfor %}
  </table>
  <div id="add_docurl"><a class="link">add another settings page</a></div>
</div>

<div id="voteforit" class="hidden">
  <h3>We'll still take your vote!</h3>
  <p>If you submit the request, someone else may be able to find the
  configuration settings.</p>
</div>

<input id="submit" type="submit" value="Submit" class="hidden"/>
</form>

{% endblock %}

