{% extends "config/base.html" %}
{% load url from future %}
{% load custom_filters %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/show_issue.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comments.css"/>
{% endblock %}

{% block title %}Mozilla ISP Database{% endblock %}
{% block bodystart %}

<script type="text/javascript">
$(document).ready(function() {
  $("#add").click(function() {
    $(this).hide();
    $(this).parent().children('.comment_form').show('fast');
  })

  {% if perms.config.can_approve %}
  // We want to make sure reviewers can see the comments
  $(".comment_list").show();
  {% endif %}

});
</script>
{% endblock %}

{% block heading %}Issue: {{ issue.title }} {% endblock %}

{% block content %}

<div id="config"><h2><a href="{% url 'ispdb_details' issue.config.id %}">{{ issue.config.display_name }}</a></h2></div>

{% if error %}
  <div id="errornote" class="errornote"><p>{{ error }}</p></div>
{% endif %}

<div class="box">
  <div id="author"><p>opened by {{ issue.owner.email }} {{ issue.created_datetime|timesince }} ago.</p></div>
  <div id="title"><h2>{{ issue.title }}</h2></div>
  <div id="status"><p>This issue is {{ issue.status }}</p></div>
  <div id="description"><p>{{ issue.description }}</p></div>
  {% if perms.config.can_approve and issue.status == "open" %}
    <form action="{% url 'ispdb_show_issue' id=issue.id %}" method="POST">{% csrf_token %}
    <div id="buttons">
      <input type="submit" value="close" name="action">  
      {% if issue.updated_config and issue.config.status == 'approved' %}
        <input type="submit" value="merge" name="action">  
      {% endif %}
    </div>
    </form>
  {% endif %}
</div>

<br>
{% if issue.updated_config %}
<div class="box">
  <div id="config">
    <div>
      {% if issue.status == 'open' and issue.owner == user %}
        <a id="edit" href="{% url 'ispdb_edit' issue.updated_config.id %}">Edit</a>
      {% endif %}
      <h2>Suggested configuration</h2>
    </div>
    <h4>Domains Served</h4>
    <div id="domains">
      {% for domain in non_modified_domains %}
        <div>{{ domain }}</div>
      {% endfor %}
      <div class="removed_domains">
      {% for domain in removed_domains %}
        <div class="domain_removed">{{ domain }}</div>
      {% endfor %}
      </div>
      <div class="added_domains">
      {% for domain in added_domains %}
        <div class="domain_added">{{ domain }}</div>
      {% endfor %}
      </div>
    </div>

    <div id="base_data">
      <h4>Base data</h4>
      <table>
        {% for field in base %}
          <tr>
          {% if field.new_value %}
            <td class="config_changed">{{ field.verbose_name|capfirst }}:</td>
            <td><strike>{{field|data_verbose}}</strike></td>
            <td>{{field|data_verbose:"new_value"}}</td>
          {% else %}
            <td>{{ field.verbose_name|capfirst }}:</td><td>{{field|data_verbose}}</td>
          {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>

    <div id="incoming_data">
      <h4>Incoming Server</h4>
      <table>
        {% for field in incoming %}
        <tr>
        {% if field.new_value %}
          <td class="config_changed">{{ field.verbose_name|capfirst }}:</td>
          <td><strike>{{field|data_verbose}}</strike></td>
          <td>{{field|data_verbose:"new_value"}}</td>
        {% else %}
          <td>{{ field.verbose_name|capfirst }}:</td><td>{{field|data_verbose}}</td>
        {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  
    <div id="outoing_data">
      <h4>Outgoing Server</h4>
      <table>
        {% for field in outgoing %}
          <tr>
        {% if field.new_value %}
            <td class="config_changed">{{ field.verbose_name|capfirst }}:</td>
            <td><strike>{{field|data_verbose}}</strike></td>
            <td>{{field|data_verbose:"new_value"}}</td>
        {% else %}
          <td>{{ field.verbose_name|capfirst }}:</td>
          <td>{{field|data_verbose}}</td>
        {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>

    <div id="docurl">
      <h4>Documentation (only the suggested is shown)</h4>
        {% for docurl in new_docurl_formset %}
        <table>
          <tr>
            <td>{{ docurl.url.label}}:</td><td>{{ docurl.url.value}}</td>
          </tr>
        </table>
        <table class="tab_desc">
        {% for desc in docurl.desc_formset %}
          <tr>
            <td>{{ desc.description.label }}:</td><td>{{ desc.description.value }}</td><td> {{ desc.language|data_verbose_field }}</td>
          </tr>
        {% endfor %}
        </table>
        {% endfor %}
      </table>
    </div>

    <div id="enableurl">
      <h4>Enable Instructions (only the suggested is shown)</h4>
        {% for enableurl in new_enableurl_formset %}
        <table>
          <tr>
            <td>{{ enableurl.url.label}}:</td><td>{{ enableurl.url.value}}</td>
          </tr>
        </table>
        <table class="tab_inst">
        {% for inst in enableurl.inst_formset %}
          <tr>
            <td>{{ inst.instruction.label }}:</td><td>{{ inst.instruction.value }}</td><td> {{ inst.language|data_verbose_field }}</td>
          </tr>
        {% endfor %}
        </table>
        {% endfor %}
      </table>
    </div>

  </div>
</div>
{% endif %}

<h3>Comments</h3>

{% load comments %}

{% get_comment_list for issue as comment_list %}
{% if comment_list %}
<div id="previous_comments">
  <div class="comment_list">
  {% for comment in comment_list %}
    <div class="comment">
      <div class="header">
        {% if comment.user %}
          <span class="comment_author">{{ comment.user.email }}</span>
        {% else %}
          <span class="comment_author">{{ comment.user_name }}</span>
        {% endif %}
        <span class="comment_date"> at {{ comment.submit_date }}</span>
        {% if perms.comments.can_moderate %}
          <a href="{% url 'ispdb_comment_delete' comment.id %}"><span class="remove_comment">Remove</span></a>
        {% endif %}
      </div>
      {% if comment.user_name == 'ISPDB System' and comment.user == None %}
        <div class="comment_body">{{comment.comment|safe|linebreaks}}</div>
      {% else %}
        <div class="comment_body">{{comment.comment|linebreaks}}</div>
      {% endif %}
      <hr />
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

<div id="add_a_comment">
  <div id="add"><a class="link">Add a comment</a></div>
  <div class="comment_form hidden">
    {% if request.user.is_authenticated %}
      {% get_comment_form for issue as form %}
      <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% endif %}
        {% endfor %}
        <input type="hidden" name="next" value="{{ request.path }}" />
        <div><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></div>
        <div><input type="submit" name="post" class="submit-post" value="Post"></div>
      </form>
    {% else %}
      <b>You must sign in to post comments.</b>
    {% endif %}
  </div>
</div>

<div class="back">
  <h4><a href="{% url 'ispdb_details' issue.config.id %}">Go back to configuration</a></h4>
</div>

{% endblock %}
